body {
  background-image: url("images/backgrounds/home-page-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#home-page {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15%;
}

.logos {
  width: 25%;
  height: 200px;
}

img {
  width: 100%;
  height: 100%;
}

#character-selection {
  height: 100%;
  width: 100%;
  display:none;
}
#characters-div {
  height: 100%;
  width: 20%;
}
.character {
  width: 100%;
  height: 18%;
  margin:auto;
  background-color: rgb(224, 233, 190);
  border-radius: 50%;
  margin: 3% 0 0 15%;
}

.character img {
    width:35%;
    height:80%;
    padding-left:30%;
    padding-top: 5%;
}

#character-quote-page {
  width:50%;
  height:100%;
  display: none;
  margin-left:5%;
}
#spacing {
  height:20%;
}
#quote-section {
  width:100%;
  height:65%;
  display:flex;
}

#quote-character-div {
  width:30%;
  height:100%;
}
#character-image-div {
  width:100%;
  height:50%;
}
#quote-div {
  width:70%;
  height:45%;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
    top: 500px;
    left: 1000px; 
}

a.button:hover {
    opacity: 1
}

#back-to-characters {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
    top: 500px;
    left: 1000px
}

#back-to-characters.button:hover {
    opacity: 1
}